AWS_ACCESS_KEY_ID=<your_aws_acccess_key_id>
AWS_SECRET_ACCESS_KEY=<your_aws_acccess_key_secret>
AWS_REGION=us-east-2
WILDAPRICOT_USER_ID=<your_sbnc_user_id>
WILDAPRICOT_PASSWORD=<your_sbnc_password>
WILDAPRICOT_CLIENT_ID=<sbniapi_client_id>
WILDAPRICOT_CLIENT_SECRET=<sbniapi_client_secret>
WILDAPRICOT_ACCOUNT_ID=176353
WILDAPRICOT_SCOPE=auto